GitPython
pyyaml
six
requests
pandas
plotly
flask
pymysql
pg8000 #postgres backend only
wheel
colorama
jinja2
werkzeug
click
markupsafe
setuptools
cython
pytest
sqlalchemy
pathvalidate
jsonschema
tableschema
sqlacodegen