GitPython
pyyaml
six
requests
pip~=20.0.2
zlib~=1.2.11
wheel~=0.34.2
openssl~=1.1.1d
cryptography~=2.8
py~=1.8.1
lxml~=4.5.0
keyring~=21.1.0
colorama~=0.4.3
jinja2~=2.11.1
werkzeug~=1.0.0
itsdangerous~=1.1.0
click~=7.0
markupsafe~=1.1.1
greenlet~=0.4.15
setuptools~=46.0.0
cython~=0.29.15
flask~=1.1.1
plotly~=4.8.1
pandas~=1.0.1