{% extends 'base.html' %}


{% block body %}
    <div class="jumbotron">
  <h1 class="display-4">{{ title }}</h1>
  <p class="lead">{{ brief_desc }}</p>
  <hr class="my-4">
  <p class="lead">
    {% for button in buttons %}
        <a class="btn btn-primary" href={{ button['link'] }} role="button">{{ button['name'] }}</a>
    {% endfor %}
  </p>
</div>
<div class="container">
    {% for plot in plots %}
     <div class="row">
        <div class="col-12">
            <h1> {{ plot['title'] }}</h1>
            {{ plot['brief_desc'] }}
            {% set index = loop.index %}
            {% include plot['html_file']%}
         </div>
     </div>
    {% endfor %}
</div>
{% endblock %}