{% extends 'base.html' %}


{% block header %}
<h1>{% block title %}Upload CSV{% endblock %}</h1>

<script type="text/javascript">
  function displayInstructions() {
  var x = document.getElementById("instructions");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
  }

function OtherTextbox(val){
 var element=document.getElementById('data_source');
 console.log("foo")
 if(val=="new_data_source")
   element.style.display='block';
 else
   element.style.display='none';
}

</script>

{% endblock %}


{% block content %}
<h3>Most recent upload</h3>
<button onclick="displayInstructions()"
        style="border:none; background-color:#f1f1f1; font-size:16px; margin-bottom:16px;">Show Instructions<i
        class="fa fa-caret-down"></i></button>
<div id="instructions" style="margin-bottom:50px; display:none;">
    <ul>
        <li><b>Write some instructions for upload</b>

        </li>
    </ul>
</div>

<form method="post" enctype="multipart/form-data">

    <label id="username" for="username">Username</label>
    <input type="text" name="username" required>

    <label for="data_source">Data File Type</label>
    <select name="data_source_selector" id="data_source_selector" required onchange='OtherTextbox(this.value)'>
        {% for existing_data_source in data_sources %}
        <option value={{ existing_data_source }}>{{ existing_data_source }}</option>
        {% endfor %}
    </select>
    <input type="text" name="data_source" id="data_source" style="display:none;"/>

    <label id="csvfile" for="csvfile">CSV file</label>
    <input type="file" name="csvfile" accept="csv" required>

    <label id="notes" for="notes">Notes</label>
    <textarea placeholder="Enter notes about your submission" name="notes" rows="10" cols="30"></textarea>

    <input type="submit" value="Submit">
</form>
{% endblock %}


