{% extends 'base.html' %}


{% block header %}
<h1>{% block title %}Upload CSV{% endblock %}</h1>

<script type="text/javascript">
  function displayInstructions() {
  var x = document.getElementById("instructions");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
  }


</script>

{% endblock %}


{% block content %}

<h3>Most recent upload</h3>
<button onclick="displayInstructions()"
        style="border:none; background-color:#f1f1f1; font-size:16px; margin-bottom:16px;">Show Instructions<i
        class="fa fa-caret-down"></i></button>
<div id="instructions" style="margin-bottom:50px; display:none;">
    <ul>
        <li><b>Write some instructions for upload</b>

        </li>
    </ul>
</div>

    <form method="post" enctype="multipart/form-data">

        {% if 'crank' in session %}
        <label for="crank">Crank</label>
        <input type="text" name="crank" maxlength="4" value=22 required>

        <label for="username">Username</label>
        <input type="text" name="username" value=23 required>

        <label for="expname">Experiment Name</label>
        <input type="text" name="expname" value=24 required>

        <label for="githash">Versioned data githash</label>
        <input type="text" name="githash" value="abc123" required>

        <label for="csvfile">CSV file</label>
        <input type="file" name="csvfile" accept="csv" required>


        <label for="notes">Notes</label>
        <textarea placeholder="Enter notes about your submission" name="notes" rows="10" cols="30"
                  value="NOTES_FOO"></textarea>

        {% else %}
        <label for="crank">Crank</label>
        <input type="text" name="crank" maxlength="4" required>

        <label for="username">Username</label>
        <input type="text" name="username" required>

        <label for="expname">Experiment Name</label>
        <input type="text" name="expname" required>

        <label for="githash">Versioned data 7-char git hash</label>
        <input type="text" name="githash" required>

        <label for="csvfile">CSV file</label>
        <input type="file" name="csvfile" accept="csv" required>

        <label for="notes">Notes</label>
        <textarea placeholder="Enter notes about your submission" name="notes" rows="10" cols="30"></textarea>

        {% endif %}
        <input type="submit" value="Submit">
    </form>
{% endblock %}


