{% set col=selector['column'] %}

<h6>{{ col }}</h6>
    <select class="custom-select" id={{ col }} name={{ "selection_" ~ selector_index }} form={{ "form_" ~ graphic_index }}
            {% if selector['options']['multiple'] %}  multiple size="3"> {% else %} > {% endif %}
    <option value="SHOW_ALL_ROW"> {{'All Rows'}}</option>
    {% for col_name in selector['entries'] %}
  <option value={{ col_name }}
                  {% if col_name in selector['active_selector'] %}selected> {% else %}> {% endif %} {{ col_name }}</option>
    {% endfor %}
</select>