{% set col=selector['column_name'] %}

<h4>{{ col }}</h4>
    <select class="custom-select custom-select mb-3" name={{ index~ "_" ~ col }} id={{ col }} form="the_form"
            {% if selector['options']['multiple'] %} multiple> {% else %}> {% endif %}
    <option value="SHOW_ALL_ROW"> {{'All Rows'}}</option>
    {% for col_name in selector['unique_entries'] %}
  <option value={{ col_name }}
                  {% if col in plot['active_selector'] and col_name in plot['active_selector'][col] %}selected> {% else %}> {% endif %} {{ col_name }}</option>
    {% endfor %}
</select>