{% set col=selector['column_name'] %}

<h4>{{ col }}</h4>
    <select class="custom-select" name={{ index~ "|" ~ selector["type"] ~ "|" ~ col }} id={{ col }} form="the_form"
            {% if selector['options']['multiple'] %} multiple size="3"> {% else %}> {% endif %}
    <option value="SHOW_ALL_ROW"> {{'All Rows'}}</option>
    {% for col_name in selector['entries'] %}
  <option value={{ col_name }}
                  {% if col_name in selector['active_selector'] %}selected> {% else %}> {% endif %} {{ col_name }}</option>
    {% endfor %}
</select>